*{
background: #b6b6b7;
font-family: 'Inter';
font-weight: 600;
line-height: 100%;
overflow-y: auto;
padding: 0;
margin: 0;

}


.logo{
padding-top: 1rem;
margin-left: 1rem;
width: 10%;
}

main{
    display: flex;
    margin-bottom: 1rem;  
    margin-left: 11.25rem;  
}

.text-area{
    height: 25rem;
    border: none;
    color: #0A3871;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 2%;
    text-transform: lowercase;        
}
::placeholder{ color: #0A3871;}
    .text-area:focus{
        outline: none;
    }

.input-area {
    width: 75%;
   
}

.mensaje{
    background:#495057;
    background-image: url("/imagenes/Muñeco.png");    
    background-repeat: no-repeat;
    border: none;
    border-radius: 1.5rem;
    color: #d2d4d5;
    margin-left: 6rem;
    margin-top: 0px;
    font-size:1.5rem;
    padding-left: 1.5rem;
    position:fixed;
    height:35rem; 
    width:20.5rem;
    
}
.mensaje:focus {
    
    outline: none;
}

.botones {
    display: flex;
    margin-top: 1rem;
    
}
.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    height: 4.2rem;
    width: 20.5rem;
}
.btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: #0A3871;
    cursor: pointer;
    height: 4.2rem;
    margin-left: 2rem;
    width: 20.5rem;
}

.output-area {    
    width: 75%;
    box-sizing: border-box;
}
.copiar {    
    border: 1px solid #0A3871;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: #d2d4d5;
    cursor: pointer;
    height: 4rem;
    width: 22rem;
    margin-left: 6rem;
    margin-top: 31.0rem;
    position: absolute;
    background-color: #0A3871;
    text-emphasis-color: #0a3871;
    
}

.informacion {
    color: #495057;
    font-size: 1rem;
}
footer {
    text-align: center;
    margin-top: 2rem;
    background-color: #F3F5FC;
    font-size: 0.85rem;
    color: #034465;
    border: none;
}


@media (max-width:75rem){
   
    
    main{
        display: flex;
        flex-direction: column;
        margin: auto;  
        
    }
    .text-area{
        height: 20rem;
        border: none;
        color: #0A3871;
        margin-top: 2rem;
        font-size: 1.5rem;
        padding: 2%;
        text-transform: lowercase; 
        width: 75%;       
    }
    .mensaje{
        
        background:#d2d4d5;        
        background-image: none; /* Hide the image */        
        background-repeat: no-repeat;
        border: 1px #495057;
        text-align: center;
        border-radius: 1.5rem;
        color:#0a3871;
        margin: auto;
        margin-top: .5rem;
        font-size:1.5rem;
        padding-left: 0;
        position: absolute;
        height:20rem; 
        width:75%;
        max-width: 75%;
        
    }
    .mensaje:focus {
        
        outline: none;
    }
    .copiar {    
        border: 1px solid #0A3871;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        color: #d2d4d5;
        cursor: pointer;
        height: 4rem;
        width: 75%;
        
        margin-left: 0rem;
        position: fixed;     
        bottom: 0;
        
        background-color: #0A3871;
        
    }
    .input-area {
        margin: auto;
        width: 75%;
       
    }
    .output-area {
        margin: auto;
        width: 75%;
        
    }
    .btn-encriptar{
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        height: 4.2rem;
        width: 50%;
    }
    .btn-desencriptar{
        background-color: #D8DFE8;
        border: 1px solid #0A3871;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        color: #0A3871;
        cursor: pointer;
        height: 4.2rem;
        margin-left: 2rem;
        width: 50%;
    }
    footer {
        display: none;
        
    }
}